[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
requests = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.12"
